<h1>Nueva solicitud de comedor</h1>

Usuario logueado: {{(usuario$ | async)?.name}}

<h2>Solicitudes</h2>

<div *ngFor="let solicitud of solicitudes$ | async">
  <app-fila-solicitud [solicitud]="solicitud" (solicitudBorrada)="borrarSolicitud(solicitud)"></app-fila-solicitud>
</div>

<h2>Centro</h2>

<app-selector-centro></app-selector-centro>

<h2>Nueva solicitud</h2>

<label>Nombre</label>
<input [(ngModel)]="solicitud.nombre">

<label>Apellidos</label>
<input [(ngModel)]="solicitud.apellidos">

<div *ngIf="(solicitud?.nombre?.length || 0) < 3">
  Nombre demasiado corto
</div>

<div *ngIf="(solicitud?.apellidos?.length || 0) < 3">
  Apellidos demasiados cortos
</div>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="date" (dateInput)="log($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<button (click)="enviar()" [style.color]="(solicitud?.nombre?.length || 0) < 3 ? 'red' : ''">Enviar</button>

<app-datos-bancarios></app-datos-bancarios>



